<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Employee List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>EmpID</th>
            <th>Name</th>
            <th>Role</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees | async">
            <td>{{employee.emp_id}}</td>
            <td>{{employee.emp_name}}</td>
            <td>{{employee.emp_role}}</td>
            <td>{{employee.emp_salary}}</td>
            <td>
              <button (click)="updateEmployee(employee.emp_id)" 
              class="btn btn-warning" 
              style="margin-left: 10px">Update</button>
              <button (click)="deleteEmployee(employee.emp_id)" 
              class="btn btn-danger" 
              style="margin-left: 10px">Delete</button>
                <button (click)="employeeDetails(employee.emp_id)" 
                class="btn btn-info" 
                style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>